#form {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* #main-footer {
  margin-top: 50px;
  bottom: 0;
  position: fixed;
  width: 100%;
} */

.footerFixe {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.important {
  color: red !important;
}

.right {
  color: green !important ;
}

.displayNO {
  display: none;
}

.img-profile {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.img-profile-post {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.name-post {
  margin-top: 11px;
  font-size: 20px;
  font-weight: 600;
  color: white
}


/* #profileImage {
  margin: 0 !imprtant;
  vertical-align: middle !important;
  text-align: center !important;
  height: 150px !important;
  width: 150px !important;
  border-radius: 60% !important;
  overflow: hidden !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
} */

#layer {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("../img/bg2.jpg") center / cover repeat;
}

@media only screen and (min-width: 375px) {
  .titleText {
    font-size: 2rem !important;
  }
}

@media only screen and (min-height: 706px) {
  .fixedFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    text-align: center;
  }
}

.bg-light-coral {
  background: #ed6b53;
}

.bg-sandy-brown {
  background: #f3a875;
}

.bg-beige {
  background: #f1e3d6;
}

.bg-dark-orange {
  background: #f36c1e;
}

.bg-dim-gray {
  background: #46393b;
}

.br-15 {
  border-radius: 15px;
}

.font-design {
  font-size: 20px;
  font-weight: 600;
}

.name-font-design {
  color: #46393b;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 600;
  padding: 5px
}


.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  right: 5px
}



.navbar-nav {
  margin-right : 3em;  
}


.navbar-brand {
  margin-left: 3em;
}



.cLH:hover {
  background: #46393b;
  color: white;
}

.notification-label{
  text-align: center;
  position: absolute;
  top: -1px;
  right: 2px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 1rem;
  background: red;
}


.bg-red {
  color: red;
}



.color-beige {
  color: #f1e3d6;
}


.main-body {
  margin-bottom: 100px;
}


.comments {
  border-right: 1px solid;
  padding-right: 5px;
}



.likes{
  padding-left: 10px;
}


.interaction-count {
  margin: 5px;
}



.nav-icon {
  font-size: x-large;
}


.input-font-style {
  line-height: 16px;
  padding: 15px 15px;
  background: #ececec;
  font-size: 17px;
  flex: 1 1 auto;
  color: #1c1e21;
  cursor: text;
  border: none;
  width: 100%;
}

.height-input-font-style {
  height: 170px;
} 


.delet-label {
  text-align: center;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #fff;
  font-size: 1.5rem;
  background: gray;
}





.event-dots {
  margin-left: 30px;
  margin-top: 8px;
}